
*
{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
  }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(51, 51, 51, 0);
}
p
{
  float: auto; margin-left: 20%; margin-right: 20%;
}
li {
  float: left;
}
li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: rgba(129, 1, 112, 0.438);
}
body
{
  height: 500px;
  background-image: url("https://pbs.twimg.com/media/FHvTrL6XoAYMckd.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
h4{
  text-align: right;
}
h5{
  text-align: right;
}
h6{
  text-align: right;
}